.wrapper {
  width: 100%;
  background-color: white;
}

.item-votes span {
  padding: 1.2rem;
  border: 2px solid;
  border-radius: 5rem;
  padding-left: 1.9rem;
}

.item-vote span {
  padding: 1.2rem;
  padding-left: 2.9rem;
  border: 2px solid;
  border-radius: 100%;
}

.item-like {
  margin: 0;
}

.item-name,
.item-votes,
.item-vote {
  font-family: 'Fredoka One', cursive !important;
}

.flexed {
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.fw-grided {
  display: grid;
  padding: 2rem;
  border: 2px solid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.fw-grided:hover span {
  border-color: blue;
}

.fw-grided:hover .item-name {
  color: blue;
}

.MuiSvgIcon-root-16 {
  color: green;
  font-size: 4rem !important;
  font-weight: bolder !important;
}
button {
  background-color: white !important;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  color: white;
  padding: 1rem;
  display: flex;
  max-height: 25vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url('../imgs/header_bg.jpg');
}

.App-link,
.timer {
  font-size: 14px;
  color: #61dafb;
}

.btn {
  float: right;
  margin: 1rem 0;
  min-width: 16.6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
