.wrapper {
  width: 100%;
  background-color: white;
}

.container {
  width: 400px;
}

.headline {
  color: cadetblue;
}

._3dig > span {
  padding: 1.3rem 1rem !important;
}

._2dig > span {
  padding: 1.2rem 1.6rem !important;
}

._1dig > span {
  padding: 1.2rem 2.2rem;
}

.item-votes span {
  border: 2px solid;
  text-align: center;
  border-radius: 100%;
}

.item-like {
  margin: 0;
}

.item-name,
.item-votes,
.item-vote,
.item-votes-3dig {
  font-family: 'Fredoka One', cursive !important;
}

.flexed {
  display: flex;
  padding: 2rem 1rem;
  border: 3px solid #444;
  justify-content: space-between;
}

.fw-grided {
  display: grid;
  padding: 2rem 0;
  border: 2px solid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.flexed:hover .item-votes>span {
  color: azure;
  background-color: cadetblue;
}

.counter {
  color: green !important;
  font-size: 4rem !important;
  font-weight: bolder !important;
}
button {
  background-color: white !important;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  color: white;
  padding: 1rem;
  display: flex;
  max-height: 25vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url('../imgs/header_bg.jpg');
}

.App-link,
.timer {
  font-size: 14px;
  color: #61dafb;
}

.btn {
  float: right;
  margin: 1rem 0;
  min-width: 16.6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width: 600px) {
  .container {
    width: fit-content !important;
    margin: 0;
  }
}
